{% extends 'Customer_layout.html' %}

{% block title %}Customer Complaint{% endblock %}

{% block navbar  %}
<li><a href="/profile">Profile</a></li>
<a class="btn-book-a-table" href="{%  url 'Customer_logout' %}">Log Out</a>
{% endblock %}

{% block sidebar %}
<h2> {{uname}}</h2>

<ol>
  <li><a href="{%  url 'Customer_home' %}">Home</a></li>
  <li>Complaint</li>
</ol>
{% endblock %}


{% block content %}
<div class="container" data-aos="fade-up">
    <form action="/Customer_complaint_submit/" method="POST">
    {% csrf_token %}
        <div class="form-group  row">
            <label for="inputuname" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext"  name="uname" id="inputuname" value="{{uname}}">
            </div>
        </div>
        <br><br>
        <div class="form-group  row">
            <label for="inputname" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" name="name"  id="inputuname" value="{{c_name}}">
            </div>
        </div>
        <br><br>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" readonly class="form-control-plaintext" name="email" id="staticEmail" value="{{c_email}}">
            </div>
        </div>
        <br><br>
        <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Complaint</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="complaint" id="address" rows="3"></textarea>
              </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Submit Complaint </button>
    </form>
    
    
    
</div>
{% endblock %}
    


