{% extends 'Customer_layout.html' %}

{% block title %}My Orders{% endblock %}

{% block navbar  %}
<li><a href="/profile">Profile</a></li>
<a class="btn-book-a-table" href="{%  url 'Customer_logout' %}">Log Out</a>
{% endblock %}

{% block sidebar %}
<h2> {{uname}}</h2>

<ol>
  <li><a href="{%  url 'Customer_home' %}">Home</a></li>
  <li>My Orders</li>
</ol>

{% endblock %}


{% block content %}
<div class="container" data-aos="fade-up">
    <p>Orders</p>
    <h3>My Orders </h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Biriyani</td>
            <td>Completed</td>
            <td>2</td>
            <td>120</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Kuzhimanthi</td>
            <td>Completed</td>
            <td>quarter</td>
            <td>180</td>
          </tr>
          
        </tbody>
      </table>
    
    
    
</div>
{% endblock %}
    


